[submodule "projects/canopen/Middlewares/CANopenSTM32"]
	path = projects/canopen/Middlewares/CANopenSTM32
	url = https://github.com/CANopenNode/CanOpenSTM32.git
[submodule "projects/rtoscanopen/Middlewares/CANopenNodeSTM32"]
	path = projects/rtoscanopen/Middlewares/CANopenNodeSTM32
	url = https://github.com/CANopenNode/CanOpenSTM32
[submodule "projects/dash/src/third_party/libcanard"]
	path = projects/dash/src/third_party/libcanard
	url = https://github.com/OpenCyphal/libcanard.git
